// 定义全局变量

// 左侧的菜单的宽度
$base-menu-width: 260px;
// 左侧菜单栏的背景色
$base-menu-background: #001529;
$base-menu-min-width: 60px;


// 顶部导航的高度
$base-bar-height: 50px;

// 左侧logo大小
$base-menu-logo-height: 70px;
// 左侧菜单logo右侧的文字
$base-menu-logo-fontSize: 16px;

